/* Navigation */
#navbar {
  flex-direction: column;
}

#navbar ul li a {
  font-size: 1rem;
  padding: 0px 7px;
  padding-bottom: 8px;
}

.h-primary {
  font-size: 3.2rem;
}

/* Home section */

#home p {
  font-size: 14px;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home .h-primary {
  font-size: 2.2rem;
}

.btn {
  font-size: 13px;
  padding: 4px 8px;
}
/* Services section  */

#services {
  flex-direction: column;
  gap: 1rem;
}

#services-container {
  height: auto;
}

#services .box {
  height: 100%;
  width: 80%;
  display: flex;
  padding: 14px;
  align-items: center;
  justify-content: center;
}

#services-container img {
  width: 78%;
  height: auto;
}

/* Clients section */

#client-section {
  flex-wrap: wrap;
}

.form-group input,
textarea {
  font-size: 13px;
}
@media screen and (max-width: 900px) and (min-width: 700px) {
  #home .h-primary {
      font-size: 2.5rem;
    }

    #home p {
      font-size: 14px;
    }
 
}

@media screen and (max-width: 520px) {
    #home .h-primary {
        font-size: 1.5rem;
      }

      #home p {
        font-size: 10px;
      }
      #navbar ul {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
  }

  @media screen and (max-width: 390px) {
#navbar{
    display: flex;
    flex-direction: row;
}
#navbar ul{
    flex-direction: column;
}  
 #menu-bar{
  display: block;
}

#items{
  display: none;
}
  }